<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
     <div class="container">
     <div class="header-left">
     	<div class="header-callback"><a href=""></a></div>
     	<button class="btn-hamburger btn-hamburger-1 js_hamburger"><span></span><p>Меню</p></button>
     	<div class="js-search">Поиск</div>
     	<div class="contacts-link"><a href="">Контакты</a></div>
     	<div class="category-list-menu">
     		<div class="category-list-menu-item">
     			<div class="category-list-menu-name">ОСЕНЬ-ЗИМА 2019</div>
     			<ul class="category-list-menu-content">
     				<li><a href="">Пальто и пуховики</a></li>
     				<li><a href="">НОВЫЙ ГОД</a></li>
     				<li><a href="">Аксессуары</a></li>
     				<li><a href="">Платья</a></li>
     				<li><a href="">Головные уборы</a></li>
     				<li><a href="">Блузы, свитшоты, водолазки</a></li>
     				<li><a href="">Вязаный трикотаж</a></li>
     				<li><a href="">Брюки и юбки</a></li>
     				<li><a href="">Жакеты и бомберы</a></li>
     				<li><a href="">Рубашки</a></li>
     			</ul>
     		</div>
     		<div class="category-list-menu-item">
     			<div class="category-list-menu-name">ВЕСНА-ЛЕТО 2019</div>
     			<ul class="category-list-menu-content">
     				<li><a href="">Пальто и пуховики</a></li>
     				<li><a href="">НОВЫЙ ГОД</a></li>
     				<li><a href="">Аксессуары</a></li>
     				<li><a href="">Платья</a></li>
     				<li><a href="">Головные уборы</a></li>
     				<li><a href="">Блузы, свитшоты, водолазки</a></li>
     				<li><a href="">Вязаный трикотаж</a></li>
     				<li><a href="">Брюки и юбки</a></li>
     				<li><a href="">Жакеты и бомберы</a></li>
     				<li><a href="">Рубашки</a></li>
     			</ul>
     		</div>
     		<div class="category-list-menu-item">
     			<div class="category-list-menu-name">SALE</div>
     			<ul class="category-list-menu-content">
     				<li><a href="">Пальто и пуховики</a></li>
     				<li><a href="">НОВЫЙ ГОД</a></li>
     				<li><a href="">Аксессуары</a></li>
     				<li><a href="">Платья</a></li>
     				<li><a href="">Головные уборы</a></li>
     				<li><a href="">Блузы, свитшоты, водолазки</a></li>
     				<li><a href="">Вязаный трикотаж</a></li>
     				<li><a href="">Брюки и юбки</a></li>
     				<li><a href="">Жакеты и бомберы</a></li>
     				<li><a href="">Рубашки</a></li>
     			</ul>
     		</div>
     	</div>
     </div>

     <div class="header-top">
     	<div class="header-logo"><a href=""><img src="./assets/images/logo.png" alt=""></a></div>
     	<div class="header-top-menu">
     		<ul>
     			<li><a href="">ОСЕНЬ-ЗИМА 2019</a></li>
     			<li><a href="">ВЕСНА-ЛЕТО 2019</a></li>
     			<li><a href="">SALE</a></li>
     		</ul>
     	</div>
     	<div class="header-top-user">
     		<a href="" class="user-lk"><img src="./assets/images/user.png" alt=""></a>
     		<a href="" class="user-cart"><img src="./assets/images/cart.png" alt=""></a>
     	</div>
     </div>
     </div>
    </header>