@import 'base/normalize';

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
	font-family: 'Playfair Display', serif;
    background: #fff;
}

img {
    max-width: 100%;
}
.main-content{
    
}

.choice-site{}
.choice-site-item{}
.choice-site-item img{}
.news_block{}
.news_block-item{}
.news_block-item-img{}
.news_block-item-info{}
.news_block-item-name{}
.news_block-item-text{}
.partners_block{}
.partner-item{}
.partner-item img{}
.news_block-line{}
.news-line-item{}
.news-line-item-name{}
.news-line-item-text{}
.about_us-block{}
.about_us-title{}
.about_us-text{}
.about_us-text p{}
.about_us-links{}
.about_us-links a{}


@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';