@import 'base/normalize';
@import 'vendors/slick.scss';
@import 'vendors/slick-theme.scss';
@import 'vendors/slice.scss';
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}


.main-content {
    left: 260px;
    position: relative;
    top: 160px;
    z-index: 12;
    width: calc(100% - 260px);
}
body.home .main-content{
    top: 0;
}
.main-banner{
	background-color: #dcdcdc;
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-wrapper {
    	align-items: center;
	}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      width: 80%;
		height: 100vh!important;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      transition: 0.6s ease;
    }
    .swiper-slide:nth-child(2n) {
      width: 60%;
    }
    .swiper-slide:nth-child(3n) {
      width: 40%;
    }
    .swiper-slide.swiper-slide-active {
    width: 89%!important;
}
.swiper-slide-content {
    width: 100%;
    transition: 0.3s ease;
    display: flex;
    justify-content: flex-end;
    padding-right: 95px;
    align-items: center;
    background-size: cover;
}
.swiper-slide.swiper-slide-active .swiper-slide-content{
	height: 100vh!important;
}
.swiper-slide.swiper-slide-prev .swiper-slide-content,
.swiper-slide.swiper-slide-next .swiper-slide-content{
	height: 50vh!important;
}
.slide-info {
    max-width: 340px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.slide-name{
	margin-bottom: 10px;
}
    .slide-name h4 {
    font-size: 85px;
    font-weight: 700;
}
.slide-text {
    font-size: 14px;
    line-height: 1.571;
    width: 220px;
}
.swiper-button-next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #0b625c;
    right: calc(11% - 28px)!important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    color: #0b625c;
    font-size: 18px!important;
}
.collections_block {
    padding: 55px 45px 25px;
    min-height: 641px;
}
.collections_block-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}
.main-page-title {
    font-size: 48px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}
.tabs-buttons {
    padding-right: 135px;
}
.choice-button {
    font-size: 21px;
    color: #d4d4dd;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    text-transform: uppercase;
}
.choice-button.active{
	color: #000;
}
.colections-content-inner{
	display: none;
}

.colections-content-inner:first-child{
	display: block;
}
.collections-slick-content{
    padding: 0 7px;
}
a.collections-slick-content-item {
    display: block;
}
.collections-slick .slick-prev {
    left: calc(100% - 135px);
    top: -65px;
    height: 34px;
    width: 42px;
}
.collections-slick .slick-next {
    right: 40px;
    top: -65px;
    height: 34px;
    width: 42px;
}
button.slick-arrow svg path {
    fill: #525252;
    width: 2px;
    height: 2px;
}
.news_block{
	padding: 55px 45px 60px;
	background-color: #d4d4dd;
	background-image: url(../images/news-bg.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.news_block .main-page-title{
	margin-bottom: 60px;
}
.news_block-inner{
	display: grid;
	grid-template-columns: repeat(2,calc(50% - 15px));
	grid-gap: 30px;
}
a.news_block-item img {
    width: 100%;
}
.about_company-block {
    padding: 65px 0 90px;
    font-size: 0;
    background-image: url(../images/parole-bg.jpg);
    background-position: 50% 87%;
    background-repeat: no-repeat;
}
.about_company-block .container{}
.about_company-block-title{
	margin-bottom: 45px;
}
.about_company-block-title h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.about_company-block-triggers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(197px, 350px));
    grid-gap: 75px;
    margin-bottom: 45px;
    justify-content: center;
}
.about_company-block-trigger{}
.about_company-block-trigger:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 13px;
    margin-right: 15px;
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 4px;
}
.about_company-block-trigger p {
    line-height: 1.571;
    width: calc(100% - 32px);
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.about_company-block-text {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 55px;
    text-align: center;
}
.about_company-block-text p {
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
    line-height: 1.375;
}
.company-read-more{
	text-align: center;
}
.company-read-more a{
	font-size: 14px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
.catalog-content {
    
    min-height: 1280px;
    padding-bottom: 45px;
}
.catalog-content-header{
	height: 240px;
	background-color: #f5f4f6;
	padding: 35px;
	margin-bottom: 25px;
}
.catalog-title{
	margin-bottom: 12px;
}
.catalog-title h1{
	margin: 0;
	font-size: 48px;
	color: #2e3033;
	font-weight: 300;
}
.woocommerce-breadcrumb{
	margin-bottom: 25px;
	font-size: 10px;
	color: #2e3033;
}
.woocommerce-breadcrumb a{
	color: #2e3033;
	text-decoration: none;
}
.catalog-content-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(210px,1fr));
    grid-gap: 20px;
    padding-right: 15px;
    z-index: 10;
}
.catalog-content-item{
	text-decoration: none;
}
.catalog-content-item-img{
	margin-bottom: 12px;
}
.catalog-content-item-name{
	margin-bottom: 12px;
}
body.home .category-list-menu{
    display: none;
}
.category-list-menu-name {
    font-size: 12px;
    font-weight: 700;
    color: #2e3033;
    cursor: pointer;
    position: relative;
}
.category-list-menu-name:after{
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    background-image: url(../images/arrow-b.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 12px;
    height: 8px;
}
.category-list-menu-name.active:after{
    transform: rotate(180deg);
}
.catalog-content-item-name h4 {
    font-size: 14px;
    color: #000;
}
.catalog-content-item-price {
    font-size: 13px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.category-list-menu {
    margin-top: 80px;
    width: 185px;
}
.category-list-menu-item {
    margin-bottom: 14px;
}
ul.category-list-menu-content {
    padding-top: 14px;
    display: none;
}
ul.category-list-menu-content li {
    margin-bottom: 12px;
}
ul.category-list-menu-content li a {
    font-size: 12px;
    color: #2e3033;
    text-decoration: none;
}
.pagination{
	margin: 50px 0;
}
.vue-pagination {
    text-align: center;
    font-size: 18px;
    list-style: none;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
span.page-numbers.page-number.page-numbers.current,
li.page-numbers.page-number.page-numbers {
    margin: 0 10px;
}
span.page-numbers.page-number.page-numbers.current {
    font-size: 18px;
    color: #c6c7c8;
}
li.page-numbers.page-number.page-numbers a {
    font-size: 17px;
    color: #2e3033;
    text-decoration: none;
}
.catalog-seo-content{}
.catalog-seo-title{
	margin-bottom: 30px;
}
.catalog-seo-title h2 {
    font-size: 21px;
    color: #000;
    margin: 0;
}


.catalog-seo-text{}
.catalog-seo-text p {
    font-size: 14px;
    color: #4c4c4c;
    line-height: 1.571;
}
.product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-slider {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: calc(100% - 72px) 64px;
    grid-gap: 8px;
    max-width: 490px;
    margin-right: 20px;
}
.product-slick-for-content img {
    height: 610px;
    width: 100%;
    object-fit: cover;
}
.product-info {
    max-width: 420px;
}
.product-name{
    margin-bottom: 12px;
}
.product-name h1 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}
.product-info-content{
    margin-bottom: 28px;
}
.product-info-content p {
    font-size: 14px;
    color: #000;
    margin-bottom: 9px;
}
.product-price {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin-bottom: 28px;
}
.product-sizes{
    margin-bottom: 20px;
}
.product-sizes-header{
    max-width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product-sizes-name {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
a.product-sizes-table {
    font-size: 14px;
    color: #616161;
}

.product-sizes-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,70px));
}
.control {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 70px;
    height: 50px;
    border: 1px solid #c4c4c4;
    text-align: center;
}
.control:hover {
    color: #fff;
}

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #000;
    color: #fff;
}

.control input:checked ~ .control_indicator {
    background: #000;
    color: #fff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #000;
    color: #fff;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.product-colors {
    margin-bottom: 20px;
}
.product-colors-name {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
}
.product-colors select {
    max-width: 295px;
    width: 100%;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/arrow-b.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 25px) 50%;
    border: 1px solid #c4c4c4;
}
.product-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
a.btn-cart {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    max-width: 295px;
    width: 100%;
    text-align: center;
    background-color: #000;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 17px 8px;
    margin-right: 5px;
}
a.btn-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    border: 1px solid #000;
    background-color: #000;
}
a.btn-favorite img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    object-position: 50%;
}
.product-description{
    max-width: 365px;
    width: 100%;
    font-size: 14px;
    color: #000;
    line-height: 1.571;
}
.single .collections_block {
    padding: 55px 45px 25px 0;
}
@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';