{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="catalog-content">
		<div class="catalog-content-header">
			<div class="catalog-title">
				<h1>ОСЕНЬ-ЗИМА 2019</h1>
			</div>
				<nav class="woocommerce-breadcrumb"><a href="">Главная</a> / ОСЕНЬ-ЗИМА 2019</nav>

				ФИЛЬТР
		</div>
		<div class="catalog-content-inner">
		{% for item in 0..11 %}
			<a class="catalog-content-item" href="">
				<div class="catalog-content-item-img"><img src="./assets/images/collection.jpg" alt=""></div>
				<div class="catalog-content-item-name"><h4>Блуза объемная из принтованной вискозы</h4></div>
				<div class="catalog-content-item-price">14 000 руб</div>
			</a>
		{% endfor %}
		</div>
		<nav class="pagination"><ul class="nav-links vue-pagination"><span aria-current="page" class="page-numbers page-number page-numbers current">1</span> <li class="page-numbers page-number page-numbers"><a href="">2</a></li> <li class="page-numbers page-number page-numbers"><a href="">3</a></li> <li class="page-numbers page-number page-numbers"><a href="">4</a></li> <span aria-current="page" class="page-numbers dots">…</span> <li class="page-numbers page-number page-numbers"><a href="">53</a></li> <li class="page-numbers page-number page-numbers"><a href="">54</a></li></ul></nav>

		<div class="catalog-seo-content">
			<div class="catalog-seo-title"><h2>Коллекция ОСЕНЬ-ЗИМА 2019</h2></div>
			<div class="catalog-seo-text">
				<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}